blinker==1.9.0
click==8.3.1
colorzero==2.0
evdev==1.9.3
Flask==3.1.2
gpiozero==2.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.1
opencv-python==4.13.0.90
pynput==1.8.1
python-xlib==0.33
RPi.GPIO==0.7.1
setuptools==82.0.0
six==1.17.0
Werkzeug==3.1.5
